
* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* equivalente a 10px */
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: white;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

form {
	background: #eee;
	padding: 10px;
}

form div {
	background: #fff;
	border-bottom: 1px solid #33f;
	margin: 1rem;
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem; 
	font-family: sans-serif;
	font-weight: bold;
	color: #66F;
}

input {
	padding: 1rem;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
}

header {
  background-color: #034589;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 30%;
  padding: 20px;
  margin-top: 4em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

section {
	background-image: url(../images/grey.png);
}

